dataset/*
!dataset/broden1_224
dataset/broden1_224/*
!dataset/broden1_224/index_ade20k.csv
!dataset/broden1_224/ade20k_scenes.json
!dataset/broden1_227
dataset/broden1_227/*
!dataset/broden1_227/index_ade20k.csv
!dataset/broden1_227/ade20k_scenes.json
result/
zoo/

*.pyc
__pycache__

exp/*
!exp/README.md

.Rproj.user
.RData
.Rhistory

scratch.sh

sync_results.sh
*.nb.html

sc*.sh
*.out
